* {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  font-family: "Mircosoft Yahei"; }

a,
a:hover,
a:visited {
  text-decoration: none; }

ul,
ol {
  list-style-type: none; }

input {
  outline: none; }

body {
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
  height: auto; }

.map {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1234;
  display: none; }

.map #allmap {
  width: 100%;
  height: 100%; }

.map .close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  width: 10px;
  height: 10px;
  background: red;
  color: white;
  line-height: 10px;
  font-size: 10px;
  border-radius: 5px;
  z-index: 1235;
  text-align: center; }

.cover {
  width: 100%;
  height: 100%; }

.top {
  width: 100%;
  height: 62.5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #FFF; }

.top .logo,
.top .tit {
  display: inline-block;
  height: 62.5px;
  float: left; }

.top .logo {
  margin-left: 40px;
  font-size: 50px;
  line-height: 67.5px;
  color: #1869c1; }

.top .tit {
  font-size: 20px;
  line-height: 62.5px;
  color: #00305b; }

.menu {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  color: #00305b; }

.nav {
  width: auto;
  height: 62.5px;
  right: 30px;
  position: fixed;
  top: 0;
  z-index: 1001;
  display: block; }

.nav a {
  width: auto;
  height: 62.5px;
  margin: 0 11.25px;
  line-height: 62.5px;
  font-size: 11.25px;
  text-align: center;
  display: inline-block; }

.banner {
  width: 100%;
  height: 631.25px;
  margin: 62.5px auto 0 auto;
  background: #054382;
  filter: alpha(opacity=76);
  background: rgba(5, 43, 82, 0.76);
  overflow: hidden; }

.banner .spans {
  height: 155px;
  margin: 240.625px 0 0 172.5px;
  display: none; }

.banner .spans span.big {
  height: 85px;
  display: block;
  font-size: 31.25px;
  line-height: 42.5px;
  color: white; }

.banner .spans span.small {
  height: 42.5px;
  display: block;
  margin-top: 27.5px;
  font-size: 11.25px;
  line-height: 21.25px;
  color: white; }

.content1,
.content2,
.content3,
.content4 {
  width: 100%;
  margin: 0 auto;
  position: relative; }

.content1 {
  height: 505px; }

.left {
  width: 42%;
  height: 100%;
  float: left;
  position: relative; }

.right {
  width: 58%;
  height: 100%;
  float: right;
  position: relative; }

.content1 .left {
  background: #eaf4f6; }

.content1 .right {
  background: #FFF; }

.content4 .left {
  background: #054382;
  filter: alpha(opacity=93);
  background: rgba(5, 43, 82, 0.93); }

.content4 .right {
  background: #054382;
  filter: alpha(opacity=70);
  background: rgba(5, 43, 82, 0.7); }

.content1 .left .cover .divs {
  margin: 71.875px auto 0 auto;
  height: 90px;
  width: 230px;
  overflow: hidden; }

.content1 .left .cover .divs div {
  font-size: 33.75px;
  line-height: 45px;
  height: 45px;
  float: left;
  color: #003257;
  display: block; }

.content1 .left .cover .divs div.bold {
  font-weight: 600;
  float: none; }

.content1 .right p {
  position: absolute;
  left: 70px;
  width: 440.625px;
  line-height: 15px;
  font-size: 11.25px;
  height: auto;
  color: #003257; }

.content1 .right p.p1 {
  top: 103.125px; }

.content1 .right p.p2 {
  top: 253.125px; }

.content1 .right p.p3 {
  top: 370.625px; }

#data-center,
#achievements,
#analysis {
  position: absolute;
  left: 70px;
  height: 31.875px;
  display: block; }

#data-center ul,
#achievements ul,
#analysis ul {
  float: left;
  list-style-type: square;
  color: #40b3c5;
  margin-right: 31.25px;
  font-size: 8.125px;
  list-style-position: outside; }

#data-center ul li span,
#achievements ul li span,
#analysis ul li span {
  line-height: 31.875px;
  height: 31.875px;
  font-size: 15px;
  color: #003257; }

#data-center {
  top: 59.375px; }

#achievements {
  top: 208.75px; }

#analysis {
  top: 326.25px; }

.go {
  width: 31.875px;
  height: 31.875px;
  border-radius: 100%;
  line-height: 31.875px;
  text-align: center;
  background: #296ca3;
  color: #FFF;
  float: left;
  font-weight: 600; }

.go:hover {
  background: #002e5d; }

.content2,
.content3 {
  height: 631.25px;
  overflow: hidden;
  text-align: center; }

.content2 {
  background: #01305c;
  padding-top: 145px; }

.content3 {
  background: #FFF;
  padding-top: 95.626px; }

.content4 {
  height: 573.125px;
  background-image: url(../images/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.content2 .tit {
  top: 62.5px;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 82.5px;
  line-height: 82.5px;
  font-size: 33.75px;
  color: #FFF;
  font-weight: 600;
  display: none; }

.content2 .inner {
  width: 70.5%;
  height: 428.125px;
  background: #FFF;
  margin: 0 auto;
  position: relative;
  text-align: left; }

.content2 p {
  position: absolute;
  left: 50%;
  margin-left: -270px;
  width: 562.5px;
  line-height: 15px;
  font-size: 11.25px;
  height: auto;
  color: #003257;
  display: none; }

.content2 p.p1 {
  top: 80px; }

.content2 p.p2 {
  top: 200px; }

.content2 p.p3 {
  top: 323.75px; }

.guide,
.search,
.pachieve {
  position: absolute;
  left: 50%;
  margin-left: -270px;
  height: 31.875px;
  display: none; }

.guide ul,
.search ul,
.pachieve ul {
  float: left;
  list-style-type: square;
  color: #40b3c5;
  margin-right: 31.25px;
  font-size: 8.125px;
  list-style-position: outside; }

.guide ul li span,
.search ul li span,
.pachieve ul li span {
  line-height: 31.875px;
  height: 31.875px;
  font-size: 15px;
  color: #003257; }

.guide {
  top: 38.125px; }

.search {
  top: 156.875px; }

.pachieve {
  top: 281.25px; }

.cover-mid {
  width: 100%;
  height: 320px;
  margin: 0 auto;
  background: rgba(5, 43, 82, 0.4); }

.content3 .tit {
  width: 100%;
  text-align: center;
  height: 33.75px;
  line-height: 33.75px;
  font-size: 33.75px;
  color: #002d4c;
  font-weight: 600;
  display: none; }

.content3 .vertline {
  height: 606.25px;
  width: 1px;
  position: absolute;
  top: 0;
  z-index: 0;
  left: 50%;
  margin-left: -353.75px;
  background: #d1dfe8;
  display: none; }

.content3 .subtit .icon {
  width: 38.75px;
  height: 38.75px;
  border-radius: 100%;
  background: #2a6da4;
  line-height: 38.75px;
  text-align: center;
  float: left;
  color: #FFF;
  font-size: 15.625px; }

.content3 .subtit .icon:hover {
  font-size: 22.5px; }

.content3 .inner .subtit .spantop,
.content3 .inner .subtit .spanbottom {
  text-align: center; }

.content3 .inner .subtit .spantop {
  height: 23.75px;
  width: 178.75px;
  font-size: 16.25px;
  line-height: 23.75px;
  float: left;
  color: #011135; }

.content3 .inner .subtit .spanbottom {
  height: 19.375px;
  width: 178.75px;
  font-size: 9.375px;
  line-height: 19.375px;
  float: left;
  color: #6090c1; }

.content3 .inner .subtit {
  width: 217.5px;
  height: 43.125px;
  position: relative;
  float: left; }

.content3 .inner p {
  width: 495px;
  line-height: 15px;
  font-size: 11.25px;
  height: auto;
  float: left;
  color: #273f5b; }

.content3 .inner {
  width: 712.5px;
  height: auto;
  left: 50%;
  margin-left: -373.125px;
  position: absolute;
  text-align: left;
  overflow: hidden;
  z-index: 1;
  display: none; }

.content3 .inner.inner1 {
  top: 170px; }

.content3 .inner.inner2 {
  top: 232.5px; }

.content3 .inner.inner3 {
  top: 331.25px; }

.content3 .inner.inner4 {
  top: 447.5px; }

.content4 .left span {
  height: 45px;
  line-height: 45px;
  font-size: 32.5px;
  margin-left: 105px;
  display: block;
  color: #FFF;
  font-weight: 600; }

.content4 .left span#about-us {
  margin-top: 105px; }

.content4 .right span {
  display: inline-block;
  color: #FFF;
  font-size: 12.5px; }

.content4 .firstcol {
  margin-left: 70px; }

.content4 .right span.firstrow {
  margin-top: 105px;
  line-height: 25px;
  height: 25px; }

.content4 .right span.otherrow {
  line-height: 18.75px;
  height: 18.75px; }

.content4 .right span.secondrow {
  margin-top: 21.875px; }

span.bold {
  font-weight: 600; }

.content4 .right .btn {
  margin-left: 70px;
  margin-top: 21.875px;
  height: 40px;
  width: 150px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 40px;
  background: #1869c1;
  color: white;
  box-shadow: 1px 1px 3px 3px #0d3866;
  text-align: center; }

.content4 .right .btn:active {
  background: #10447d; }

.content4 .right .bdsharebuttonbox {
  position: absolute;
  left: 70px;
  bottom: 120px;
  height: 30px; }

.bottom {
  width: 100%;
  height: 61.875px;
  background: #00305b;
  text-align: center; }

.bottom span {
  line-height: 15px;
  height: 15px;
  color: #FFF;
  display: block;
  font-size: 15px; }

.bottom #back-to-top {
  height: 30px;
  line-height: 30px;
  display: block;
  font-size: 15px;
  color: #FFF; }

.info {
  width: 100%;
  height: 51.25px; }

@media screen and (max-width: 970px) {
  .top {
    width: 100vw;
    height: 6.25vw; }

  .top .logo,
  .top .tit {
    height: 6.25vw; }

  .top .logo {
    margin-left: 3vw;
    line-height: 6.75vw;
    font-size: 5vw; }

  .top .tit {
    font-size: 2.25vw;
    line-height: 6.25vw; }

  .nav {
    width: auto;
    height: 6.25vw;
    right: 3vw;
    position: fixed;
    top: 0; }

  .nav a {
    width: auto;
    height: 6.25vw;
    margin: 0 1.125vw;
    line-height: 6.25vw;
    font-size: 1.125vw;
    text-align: center;
    display: inline-block; }

  .nav a:hover {
    background: darkblue;
    color: white; }

  .banner {
    width: 100%;
    height: 63.125vw;
    margin-top: 6.25vw; }

  .banner .spans {
    margin: 24.0625vw 0 0 11.25vw; }

  .banner .spans span.big {
    height: 10vw;
    font-size: 5vw;
    line-height: 5vw; }

  .banner .spans span.small {
    height: 8.5vw;
    margin-top: 5.5vw;
    font-size: 2.25vw;
    line-height: 4vw; }

  .content1,
  .content2,
  .content3,
  .content4 {
    width: 100vw; }

  .content1 {
    height: 50.5vw; }

  .content2,
  .content3 {
    height: 63.125vw; }

  .content2 {
    padding-top: 14.5vw; }

  .content3 {
    padding-top: 9.5625vw; }

  .content4 {
    height: 57.3125vw; }

  .left {
    width: 42.8125vw; }

  .right {
    width: 57.1875vw; }

  .content1 .left .cover .divs {
    height: 9vw;
    width: 17.25vw;
    margin: 7.1875vw auto 0 auto; }

  .content1 .left .cover .divs div {
    font-size: 3.375vw;
    line-height: 4.5vw;
    height: 4.5vw; }

  .content1 .right p {
    left: 7vw;
    width: 44.0625vw;
    line-height: 1.5vw;
    font-size: 1.125vw; }

  .content1 .right p.p1 {
    top: 10.3125vw; }

  .content1 .right p.p2 {
    top: 25.3125vw; }

  .content1 .right p.p3 {
    top: 37.0625vw; }

  #data-center,
  #achievements,
  #analysis {
    left: 7vw;
    height: 3.1875vw; }

  #data-center ul,
  #achievements ul,
  #analysis ul,
  .guide ul,
  .search ul,
  .pachieve ul {
    font-size: 0.8125vw;
    margin-right: 3.125vw; }

  #data-center ul li span,
  #achievements ul li span,
  #analysis ul li span,
  .guide ul li span,
  .search ul li span,
  .pachieve ul li span {
    line-height: 3.1875vw;
    height: 3.1875vw;
    font-size: 0.9375vw; }

  #data-center {
    top: 5.9375vw; }

  #achievements {
    top: 20.875vw; }

  #analysis {
    top: 32.625vw; }

  .go {
    width: 3.1875vw;
    height: 3.1875vw;
    line-height: 3.1875vw; }

  #data-center .go,
  #achievements .go,
  #analysis .go {
    font-size: 1.125vw; }

  .content2 .tit {
    height: 8.25vw;
    line-height: 8.25vw;
    font-size: 3.25vw;
    top: 6.25vw; }

  .content2 .inner {
    margin: 0 auto;
    width: 70.5vw;
    height: 42.8125vw; }

  .content2 p {
    left: 8.25vw;
    width: 56.25vw;
    line-height: 1.5vw;
    font-size: 1.125vw;
    margin-left: 0; }

  .content2 p.p1 {
    top: 8vw; }

  .content2 p.p2 {
    top: 20vw; }

  .content2 p.p3 {
    top: 32.375vw; }

  .guide,
  .search,
  .pachieve {
    left: 8.25vw;
    height: 3.1875vw;
    margin-left: 0; }

  .guide {
    top: 3.8125vw; }

  .search {
    top: 15.6875vw; }

  .pachieve {
    top: 28.125vw; }

  .guide .go,
  .search .go,
  .pachieve .go {
    font-size: 1.125vw; }

  .cover-mid {
    width: 100%;
    height: 32vw; }

  .content3 .tit {
    height: 3.25vw;
    line-height: 3.25vw;
    font-size: 3.25vw; }

  .content3 .vertline {
    height: 70.1875vw;
    left: 14.625vw;
    margin-left: 0; }

  .content3 .subtit .icon {
    width: 3.875vw;
    height: 3.875vw;
    line-height: 3.875vw;
    font-size: 1.5625vw; }

  .content3 .subtit .icon:hover {
    font-size: 2.25vw; }

  .content3 .inner .subtit .spantop {
    height: 2.375vw;
    width: 17.875vw;
    font-size: 1.625vw;
    line-height: 2.375vw; }

  .content3 .inner .subtit .spanbottom {
    height: 1.9375vw;
    width: 17.875vw;
    font-size: 0.9375vw;
    line-height: 1.9375vw; }

  .content3 .inner .subtit {
    width: 21.75vw;
    height: 4.3125vw; }

  .content3 .inner p {
    width: 49.5vw;
    line-height: 1.5vw;
    font-size: 1.125vw; }

  .content3 .inner {
    width: 71.5625vw;
    left: 12.6875vw;
    top: 6.25vw;
    margin-left: 0; }

  .content3 .inner.inner1 {
    top: 17vw; }

  .content3 .inner.inner2 {
    top: 23.25vw; }

  .content3 .inner.inner3 {
    top: 33.125vw; }

  .content3 .inner.inner4 {
    top: 44.75vw; }

  .content4 .left span {
    height: 4.5vw;
    line-height: 4.5vw;
    font-size: 3.25vw;
    margin-left: 10.5vw;
    display: block; }

  .content4 .left span#about-us {
    margin-top: 10.5vw; }

  .content4 .right span {
    font-size: 1.25vw; }

  .content4 .firstcol {
    margin-left: 7vw; }

  .content4 .right span.firstrow {
    margin-top: 10.5vw;
    line-height: 2.5vw;
    height: 2.5vw; }

  .content4 .right span.otherrow {
    line-height: 1.875vw;
    height: 1.875vw; }

  .content4 .right span.secondrow {
    margin-top: 2.1875vw; }

  .content4 .right .btn {
    margin-left: 7vw;
    margin-top: 2.1875vw;
    height: 4vw;
    width: 15vw;
    border-radius: 0.4vw;
    font-size: 1.5vw;
    line-height: 4vw; }

  .content4 .right .bdsharebuttonbox {
    position: absolute;
    left: 7vw;
    bottom: 12vw;
    height: 3vw; }

  .bottom {
    height: 6.1875vw;
    background: #00305b;
    text-align: center; }

  .bottom span {
    line-height: 1.5vw;
    height: 1.5vw;
    font-size: 1.5vw; }

  .bottom #back-to-top {
    height: 3vw;
    line-height: 3vw;
    font-size: 1.5vw; }

  .info {
    height: 5.125vw; } }
@media screen and (max-width: 750px) {
  .menu.iconfont {
    width: 6.25vw;
    height: 6.25vw;
    line-height: 6.25vw;
    font-size: 3.75vw;
    display: block;
    z-index: 1001;
    position: fixed;
    text-align: center;
    top: 0;
    right: 0; }

  .nav {
    width: 100%;
    height: 43.75vw;
    right: 0;
    position: fixed;
    top: 6.25vw;
    z-index: 1001;
    background: #FFF; }

  .nav a {
    width: 100%;
    height: 6.25vw;
    margin: 0;
    line-height: 6.25vw;
    font-size: 3.75vw;
    text-align: center;
    display: block; }

  .menu.h.iconfont + .nav {
    display: none; } }
@media screen and (max-width: 640px) {
  .top {
    height: 9.375vw; }

  .top .logo,
  .top .tit {
    height: 9.375vw; }

  .top .logo {
    margin-left: 4.5vw;
    line-height: 10.125vw;
    font-size: 7.5vw; }

  .top .tit {
    font-size: 3.375vw;
    line-height: 9.375vw; }

  .menu.iconfont {
    width: 9.375vw;
    height: 9.375vw;
    line-height: 9.375vw;
    font-size: 5.625vw; }

  .nav {
    width: 100%;
    height: 65.625vw;
    right: 0;
    position: fixed;
    top: 9.375vw;
    z-index: 1001;
    background: #FFF; }

  .nav a {
    width: 100%;
    height: 9.375vw;
    margin: 0;
    line-height: 9.375vw;
    font-size: 5vw;
    text-align: center;
    display: block; }

  .banner {
    width: 100%;
    height: 62.5vw;
    margin-top: 9.375vw; }

  .banner .spans {
    margin: 24.0625vw 0 0 11.25vw; }

  .banner .spans span.big {
    height: 10vw;
    font-size: 5vw;
    line-height: 5vw; }

  .banner .spans span.small {
    height: 8.5vw;
    margin-top: 5.5vw;
    font-size: 2.25vw;
    line-height: 4vw; }

  .content1,
  .content2,
  .content3,
  .content4 {
    width: 100vw; }

  .content1 {
    height: 251.25vw; }

  .content2 {
    padding-top: 29vw;
    height: 137.5vw; }

  .content3 {
    padding-top: 19.125vw;
    height: 287.5vw; }

  .content4 {
    height: 175vw; }

  .content1 .left {
    width: 100%;
    height: 75vw; }

  .content1 .right {
    width: 100%;
    height: 176.25vw; }

  .content4 .left {
    width: 100%;
    height: 75vw; }

  .content4 .right {
    width: 100%;
    height: 100vw; }

  .content1 .left .cover .divs {
    width: 50vw;
    height: 20vw;
    margin: 22.375vw auto 0 auto; }

  .content1 .left .cover .divs div {
    font-size: 8.75vw;
    line-height: 10vw;
    height: 10vw; }

  .content1 .right p {
    left: 6.25vw;
    width: 87.5vw;
    line-height: 5vw;
    font-size: 3.75vw; }

  .content1 .right p.p1 {
    top: 16.25vw; }

  .content1 .right p.p2 {
    top: 70vw; }

  .content1 .right p.p3 {
    top: 113.75vw; }

  #data-center,
  #achievements,
  #analysis {
    left: 12.5vw;
    height: 6.375vw;
    width: 87.5vw; }

  #data-center ul,
  #achievements ul,
  #analysis ul,
  .guide ul,
  .search ul,
  .pachieve ul {
    font-size: 6.25vw;
    margin-right: 6.25vw;
    line-height: 6.25vw; }

  #data-center ul li span,
  #achievements ul li span,
  #analysis ul li span,
  .guide ul li span,
  .search ul li span,
  .pachieve ul li span {
    height: 6.375vw;
    line-height: 6.375vw;
    font-size: 6.375vw; }

  #data-center {
    top: 6.25vw; }

  #achievements {
    top: 60vw; }

  #analysis {
    top: 103.75vw; }

  .go {
    width: 6.375vw;
    height: 6.375vw;
    line-height: 6.375vw; }

  #data-center .go,
  #achievements .go,
  #analysis .go {
    font-size: 2.25vw; }

  .content2 .tit {
    height: 16.5vw;
    line-height: 16.5vw;
    font-size: 6.5vw;
    top: 12.5vw; }

  .content2 .inner {
    margin: 0 auto;
    width: 100vw;
    height: 137.5vw; }

  .content2 p {
    left: 6.25vw;
    width: 87.5vw;
    line-height: 5vw;
    font-size: 3.75vw;
    margin-left: 0; }

  .content2 p.p1 {
    top: 16.25vw; }

  .content2 p.p2 {
    top: 55vw; }

  .content2 p.p3 {
    top: 98.75vw; }

  .guide,
  .search,
  .pachieve {
    left: 12.5vw;
    height: 6.375vw;
    margin-left: 0; }

  .guide {
    top: 6.25vw; }

  .search {
    top: 45vw; }

  .pachieve {
    top: 88.75vw; }

  .guide .go,
  .search .go,
  .pachieve .go {
    font-size: 2.25vw; }

  .cover-mid {
    width: 100%;
    height: 48vw; }

  .content3 .tit {
    height: 6.5vw;
    line-height: 6.5vw;
    font-size: 6.5vw; }

  .content3 .vertline {
    height: 300vw;
    left: 10.125vw;
    margin-left: 0; }

  .content3 .subtit .icon {
    width: 7.75vw;
    height: 7.75vw;
    line-height: 7.75vw;
    font-size: 3.125vw; }

  .content3 .subtit .icon:hover {
    font-size: 2.25vw; }

  .content3 .inner .subtit .spantop {
    height: 4.75vw;
    width: 79.75vw;
    font-size: 3.25vw;
    line-height: 4.75vw; }

  .content3 .inner .subtit .spanbottom {
    height: 3.875vw;
    width: 79.75vw;
    font-size: 1.875vw;
    line-height: 3.875vw; }

  .content3 .inner .subtit {
    width: 87.5vw;
    height: 8.625vw;
    margin-bottom: 6.25vw; }

  .content3 .inner p {
    width: 72.75vw;
    margin-left: 12.5vw;
    line-height: 5vw;
    font-size: 3.75vw; }

  .content3 .inner {
    width: 87.5vw;
    height: auto;
    left: 6.25vw;
    margin-left: 0; }

  .content3 .inner.inner1 {
    top: 41.25vw; }

  .content3 .inner.inner2 {
    top: 82.5vw; }

  .content3 .inner.inner3 {
    top: 143.75vw; }

  .content3 .inner.inner4 {
    top: 215vw; }

  .content4 .left span {
    height: 6.75vw;
    line-height: 6.75vw;
    font-size: 4.875vw;
    margin-left: 15.75vw;
    display: block; }

  .content4 .left span#about-us {
    margin-top: 15.75vw; }

  .content4 .right span {
    font-size: 1.875vw; }

  .content4 .firstcol {
    margin-left: 15.75vw; }

  .content4 .right span.firstrow {
    margin-top: 15.75vw;
    line-height: 3.75vw;
    height: 3.75vw; }

  .content4 .right span.otherrow {
    line-height: 2.8125vw;
    height: 2.8125vw; }

  .content4 .right span.secondrow {
    margin-top: 2.96875vw; }

  .content4 .right .btn {
    margin-left: 15.75vw;
    margin-top: 3.28125vw;
    height: 6vw;
    width: 28.125vw;
    border-radius: 0.8125vw;
    font-size: 2.25vw;
    line-height: 6vw; }

  .content4 .right .bdsharebuttonbox {
    position: absolute;
    left: 15.75vw;
    bottom: 12vw;
    height: 4vw; }

  .bottom {
    height: 9.375vw;
    background: #00305b;
    text-align: center; }

  .bottom span {
    line-height: 2.25vw;
    height: 2.25vw;
    font-size: 2.25vw; }

  .bottom #back-to-top {
    height: 4.5vw;
    line-height: 4.5vw;
    font-size: 2.25vw; }

  .info {
    height: 7.875vw; } }

/*# sourceMappingURL=wixsite3.css.map */
